.App {
  text-align: center;
  background-color: #a7dcff;
  min-height: 58rem;
}

.App-header {
  background-color: #06338d;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: rgb(44, 207, 248);
  padding: 2rem 0 2rem;
}

.App-logo {
  padding-right: 3rem;
}
