.singleBook {
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
    border: 3px solid rgb(3, 61, 150);
    background-color: #007bff;
    border-radius: 1rem 0rem 0rem 1rem;
    margin-bottom: 1rem;
}

.singleBookSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.singleBookHeader {
    display: table;
    margin: 0 auto;
}

.lablelBook {
    margin-bottom: 0rem;
}

.valueOfBook {
    font-weight: bold;
}

.dropDownMenu {
    background-color: rgb(3, 61, 150);
    align-items: center;
    width: 2rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    min-height: 4rem;
    transition: 500ms;
}

.dropDownMenu:hover button {
    display: block;
    cursor: pointer;
    color: blanchedalmond;
}

.dropDownMenuCopyWrapper:hover {
    cursor: pointer;
    background-color: rgb(2, 45, 109);
    transform: scale(1.05)
}

.dropDownMenuDisplay:hover {
    cursor: pointer;
    background-color: rgb(2, 45, 109);
    transform: scale(1.05);
}

.dropDownMenuEdit:hover {
    cursor: pointer;
    background-color: rgb(2, 45, 109);
    transform: scale(1.05)
}

.dropDownMenuDelete:hover {
    cursor: pointer;
    background-color: rgb(2, 45, 109);
    transform: scale(1.05)
}

.dropDownMenuCopyWrapper {
    position: absolute;
    margin-left: -227px;
    display: none;
    background-color: rgb(3, 61, 150);
    min-height: 4rem;
    padding: 0px 10px 0px 10px;
    line-height: 4rem;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.dropDownMenuDisplay {
    position: absolute;
    margin-left: -51px;
    display: none;
    background-color: rgb(3, 61, 150);
    min-height: 4rem;
    padding: 0px 10px 0px 10px;
    line-height: 4rem;
    border-left: 1px solid rgb(24, 77, 155);
    border-right: 1px solid rgb(24, 77, 155);
    border-top: 0px;
    border-bottom: 0px;
}

.dropDownMenuEdit {
    position: absolute;
    margin-left: -110px;
    display: none;
    background-color: rgb(3, 61, 150);
    min-height: 4rem;
    padding: 0px 10px 0px 10px;
    line-height: 4rem;
    border-left: 1px solid rgb(24, 77, 155);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.dropDownMenuDelete {
    position: absolute;
    margin-left: -166px;
    display: none;
    background-color: rgb(3, 61, 150);
    min-height: 4rem;
    padding: 0px 10px 0px 10px;
    line-height: 4rem;
    border-left: 1px solid rgb(24, 77, 155);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
